body {
    font-family: Arial, sans-serif;
    color: #141414;
}
table {
    width: 80%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.tableOption {
    text-align: center;
}